<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{%block title%}{%endblock title%}</title>

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'login'%}">Login</a></li>
                <li><a href="{% url 'signup'%}">Signup</a></li>
            </ul>
            {% if user.is_authenticated %}
            <ul>
                <li><a href="{% url 'create_receipt'%}">Create Receipt</a></li>
                <li><a href="{% url 'create_account'%}">Create Bank Account</a></li>
                <li><a href="{% url 'create_category'%}">Create Category</a></li>
                <li><a href="{% url 'category_list'%}">Expense Categories</a></li>
                <li><a href="{% url 'account_list'%}">Bank Accounts</a></li>
            {%endif%}
            </ul>
        </nav>
    </header>
    {%block content%} {%endblock content%}
</body>
</html>
