{% extends 'base.html' %}
{%block title%} Expense List {%endblock title%}
{%block content%}
<main>
    <h1>My Expenses</h1>
        <table>
            <thead>
                <th>Name</th>
                <th>Number of receipts</th>

            </thead>
            <tbody>
                {%for expense in categories%}
                <tr>
                    <td>{{expense.name}}</td>
                    <td>{{expense.receipts.all|length}}</td>

                </tr>
                {%endfor%}
            </tbody>
        </table>
</main>
{%endblock content%}
